node_modules
dist
dist-ssr
.DS_Store
*.local
.env
.git
.gitignore
README.md
.vscode
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.turbo
.vinxi
.tanstack
.output
.nitro
.wrangler
ci.txt
count.txt
todos.json
.cursorrules
